.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.profileContainer {
  display: flex;
  margin: 20px;
}

.picCon{
  position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
  
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}
