.subTitle {
  text-align: center;
  color: rgb(14, 52, 136);
}

.subTitle-bio {
  text-align: center;
  color: rgb(226, 15, 15);
}

.allRows {
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
  color: rgb(56, 28, 180);
}

h6 {
  font-size: 25px;
  color: rgb(59, 10, 7);
}

.mtitle {
  font-size: 50px;
  text-align: center;
  color: rgb(14, 52, 136);
}

.dropdown {
  text-align: center;
}

.startLine {
  font-size: 20px;
  color: red;
  text-align: center;
}

ol {
  list-style-type: none;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 40%;
}

.explain {
  text-align: center;
}

.listStart {
  font-size: 20px;
  color: red;
  text-align: center;
}

.myTeam {
  font-size: 20px;
  color: rgb(50, 29, 143);
  text-align: center;
}

.subsentence {
  font-size: 25px;
  text-align: center;
  color: red;
}

.sub2title {
  font-size: 20px;
  text-align: center;
}

.sub {
  text-align: center;
}

.seasonChooser {
  color: white;
  border-color: none;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
