.mtitle {
  font-size: 50px;
  text-align: center;
  color: rgb(14, 52, 136);
}

.dropdown {
  text-align: center;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.fixture-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.season-selector,
.week-selector {
  margin: 10px 0;
  width: 120px;
}

.date-card {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.fixture-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.fixture-card:hover{
  background-color: #BAD7E9;
  border-color: #1f3551;
}

.fixture-card .team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixture-card .team img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.fixture-card .team h5 {
  margin: 10px 0;
}

.fixture-card .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.fixture-card .score p {
  margin: 10px 0;
}

.fixture-card .referee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixture-card .referee h5 {
  margin: 10px 0;
}

.startLine {
  font-size: 20px;
  color: red;
  text-align: center;
}

ol {
  list-style-type: none;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 40%;
}

.explain {
  text-align: center;
}

.listStart {
  font-size: 20px;
  color: red;
  text-align: center;
}

.teamNames {
  font-size: 20px;
  color: rgb(50, 29, 143);
  text-align: center;
}

.sub1title {
  font-size: 25px;
  text-align: center;
  color: red;
}

.sub2title {
  font-size: 20px;
  text-align: center;
}

.sub {
  text-align: center;
}

.seasonChooser {
  color: white;
  border-color: none;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
}
