.centerClass {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.teamTitle {
  font-size: 30px;
  text-align: center;
  color: #2146c7;
}

.teamLogo {
  size: 10px;
  text-align: center;
}
