.filterSub {
  justify-content: center;
  align-items: center;
  color: crimson;
}

.sub3title {
  justify-content: center;
  align-items: center;
  color: crimson;
}

.filterSubmit {
  justify-content: center;
}

.create {
  justify-content: center;
  align-items: center;
}

.sort {
  justify-content: center;
  align-items: center;
}

td {
  justify-content: center;
  align-items: center;
}
