.mtitle {
  font-size: 50px;
  text-align: center;
  color: rgb(14, 52, 136);
}

a {
  font-family: "Arial";
}

td {
  font-family: "Arial";
}

.dropdown {
  text-align: center;
}

.startLine {
  font-size: 20px;
  color: red;
  text-align: center;
}

ol {
  list-style-type: none;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 40%;
}

.explain {
  text-align: center;
}

.listStart {
  font-size: 20px;
  color: red;
  text-align: center;
}

.myTeam {
  font-size: 20px;
  color: rgb(50, 29, 143);
  text-align: center;
}

.subsentence {
  font-size: 25px;
  text-align: center;
  color: red;
}

.sub2title {
  font-size: 20px;
  text-align: center;
}

.sub {
  text-align: center;
}

.seasonChooser {
  color: white;
  border-color: none;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
